<!DOCTYPE html>
<html lang = "ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パンダ提出アプリのトップページ</title>
  </head>
  <body>
    <!-- flashで送られたエラーメッセージの表示 -->
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="{{ category }}">{{ message }}</div>
    {% endfor %}

    <!-- ログイン -->
    <form  action="{{url_for('login_access')}}" method="POST">
      <P><label>ID｜<input type="text" name="id"></label></P>
      <p><input type="submit" value="ログイン"></p>
    </form>

    <!-- 新規登録ページへ遷移 -->
    <p>新規登録は<a href="{{url_for('signup_access')}}">こちら</a>から</p>
  </body>
</html>