<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録ページ</title>
  </head>
  <body>
    <!-- flashで送られたエラーメッセージの表示 -->
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="{{ category }}">{{ message }}</div>
    {% endfor %}
    <form action="{{url_for('signup_access')}}" method="POST">
      <p><label>ID｜<input type="text" name="id"></label></p>
      <p><label>パスワード｜<input type="password" name="password"></label></p>
      <p><input type="submit" value="登録"></p>
    </form>
  </body>
</html>